/*
@font-face{
    
	font-family: "indigo-webfont";
	src: url("../fonts/indigo/indigo-webfont.eot?") format("embedded-opentype"),
		 url("../fonts/indigo/indigo-webfont.ttf") format("truetype"),
	     url("../fonts/indigo/indigo-webfont.woff") format("woff"),
		 url("../fonts/indigo/indigo-webfont.woff2") format("woff2"),
		 url("../fonts/indigo/indigo-webfont.svg") format("svg");
   
}
*/
#container{
    position: relative;
    margin: 0 auto 0 auto;
    width: 800px;
}

#backgroundCanvas{
    position: absolute;
    z-index: -1;
    margin-top: 10px;
}

#foregroundCanvas, #enemyCanvas, #groundCanvas{
    margin-top: 10px;
    position: absolute;
    z-index: 1;
    background-color: transparent;
}

#groundCanvas{
    z-index: 0;
}

p{
    font-weight: 800;
    font-size: 20px;
    color: darkblue;
    margin: 5px 5px 5px 5px;
}

#HUD{
    position: absolute;
    z-index: 2;
    margin-top: 10px;
}

#gameOver{
    z-index: 10;
    position: absolute;
    font-size: 30px;
    cursor: default;
    width: 800px;
    height: 800px;
    margin: 10px auto 0 auto;
    text-align: center;
    vertical-align: middle;
    display: none;
}

#gameOverOptions{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.restart{
    cursor: pointer
}

.gameOverText{
    font-size: 30px;
}

.restart:hover {
    color: red;
}

form{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 820px;
    color: darkblue;
    display: block;
    width: 800px;
    margin: auto auto;
}

legend{
    font-size: 25px;
}

input{
    font-size: 20px;
}

#player-controls-info ul{
    list-style: none;
    padding: 0;
}

fieldset{
    display: inline;
}